# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.csv

# Virtual environment
venv/
.venv/

# IDE / Editor files
.vscode/
.idea/
*.swp

# Environment variables / secrets
.env
*.env

# Flask cache
instance/
*.log

# macOS system files
.DS_Store