* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  display: flex;
  height: 100vh;
  background-color: #1e1e2f;
}

.sidebar {
  width: 220px;
  background-color: #1e1e2f;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh; /* Full height */
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
}

.logo {
  margin-bottom: 40px;
  font-size: 24px;
  text-align: center;
}

.nav-links {
  list-style: none;
  flex-grow: 1;
}

.nav-links li {
  margin-bottom: 20px;
}

.nav-links a {
  color: #ccc;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 8px 12px;
  border-radius: 4px;
  /* transition: background 0.2s ease; */
}

.nav-links a:hover {
  background-color: #33334d;
  color: #fff;
}

.main-content {
  margin-left: 220px; /* same as sidebar width */
  padding: 30px;
  flex-grow: 1;
  background-color: lightblue;
  height:fit-content;
}

.Container {
  background-color: #fff;
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: left;
}

h1 {
  margin-top: 0;
  font-size: 2em;
  color: #1e1e1e;
}

img {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  margin: 20px 0;
  text-align: center;
}

p {
  line-height: 1.6;
  font-size: 1.1em;
  margin: 10px 0;
}

strong {
  font-weight: bold;
  color: #444;
}

/* start of the catalogue specific styles */
.catalogue-grid {
  display: grid;
  grid-template-columns: repeat(5, 150px); /* 5 fixed columns */
  gap: 12px 16px; /* tight vertical and horizontal spacing */
  justify-content: center; /* center the whole grid horizontally */
  margin-top: 10px;
}

.media-card {
  text-align: center;
  color: white;
  font-size: 0.9rem;
}

.media-card img {
  width: 150px;
  height: 225px; /* locked aspect ratio */
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
  transition: transform 0.2s ease;
}

.media-card img:hover {
  transform: scale(1.04);
}

.media-card p {
  margin-top: 6px;
  font-size: 0.9rem;
  color: black;
  word-wrap: break-word;    /* makes sure that longer titles display fully */
  white-space: normal;
}




