{% extends "layout.html" %}
{% block title %}Catalogue Page{% endblock %}

{% block content %}
{% for user in users %}
{% endfor %}
<h2 style="margin-bottom: 10px;">Top Movies</h2>
<div class="catalogue-grid">
  {% for movie in movies %}
  <a href="/media/{{movie.tmdb_id}}">
    <div class="media-card">
      <img src="{{ movie.poster_url }}" alt="{{ movie.title }}">
      <p>{{ movie.title }}</p>
    </div>
  {% endfor %}
</div>
</a>

<h2 style="margin: 30px 0 10px;">Top TV Shows</h2>
<div class="catalogue-grid">
  {% for show in tv_shows %}
  <a href="{{ url_for('get_media', media_id = show.tmdb_id) }}">
    <div class="media-card">
      <img src="{{ show.poster_url }}" alt="{{ show.title }}">
      <p>{{ show.title }}</p>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %}