{% extends "layout.html" %}
{% block title %}Catalogue Page{% endblock %}

{% block content %}
<main class="main-content">
<div class="catalogue-wrapper">
    {% if current_user.is_authenticated %}
        <h1 class="greeting">Welcome {{ current_user.username }}! Looking for the next thing to stamp?</h1>
    {% endif %}


    <!-- Top movies section, ranked format -->
    <section class="media-section">
        <h1 class="section-header">🎬 Featured Movies</h1>
        <div class="movie-scroll" id="movieScroll">
            {% for movie in movies %}
            <div class="movie-card">
                <span class="rank-badge">#{{ loop.index }}</span>
                <a href="{{ url_for('view_movie', movie_id=movie.tmdb_id)}}">
                    <img src="{{ movie.poster_url }}" alt="{{ movie.title }}">
                </a>
            </div>
            {% endfor %}
        </div>
    </section>

    <!-- Featured Shows Grid -->
    <section class="media-section">
        <h1 class="section-header">📺 Featured TV Shows</h1>
        <div class="featured-grid">
            {% for show in tv_shows %}
            <a href="{{ url_for('get_media', media_id=show.tmdb_id)}}" class="media-link">
                <img src="{{ show.poster_url }}" alt="{{ show.title }}">
            </a>
            {% endfor %}
        </div>
    </section>

    <!-- Top Anime section -->
    <section class="media-section">
        <h1 class="section-header">👺 Featured Anime</h1>
        <div class="featured-grid">
            {% for anime_show in anime %}
            <a href="{{ url_for('view_anime', anime_id=anime_show.anilist_id) }}" class="media-link">
                <div>
                    <img src="{{ anime_show.cover_url }}" alt="{{ anime_show.title_romaji }}">
                    <p class="media-title">{{ anime_show.title_english or anime_show.title_romaji }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </section>
</div>
</main>
{% endblock %}