<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
  {% if request.endpoint not in ['login', 'register'] %}
  <nav class="sidebar">
    <div class="logo-box">
      <h2 class="logo"><strong>STAMPER 🕹️</strong></h2>
    </div>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="#">Bookmarked</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">History</a></li>
    </ul>
    <div class="search-bar">
      <input type="text" placeholder="Search..." disabled>
    </div>
  </nav>
  <main role="main" class="main-content">
  {% endif %}
  <div class="top-buttons">
    {% if current_user.is_authenticated %}
      <a href="{{ url_for('logout') }}" class="btn-top">Logout</a>
    {% else %}
      <a href="{{ url_for('register') }}" class="btn-top">Register</a>
      <a href="{{ url_for('login') }}" class="btn-top">Login</a>
    {% endif %}
  </div>
  <main role="main" class="main-content {% if request.endpoint in ['login', 'register'] %}no-sidebar{% else %}with-sidebar{% endif %}">
  
  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
  </div>
</main>
</body>

</html>