{% extends "layout.html" %}
{% block content %}
<div class="Container">
    {% if item %}
      <h1>{{ item.title }}</h1>
      <img src="{{ item.poster_url }}" alt="{{ item.title }}" width="300">
      <p>{{ item.overview }}</p>
      <p><strong>Type:</strong> {{ item.media_type }}</p>
      <p><strong>Release Date:</strong> {{ item.release_date }}</p>
      <p><strong>Rating:</strong> {{ item.vote_average }}</p>
    {% else %}
      <h2>Media not found.</h2>
    {% endif %}

  {% if item.media_type == "tv" and seasons %}
    <div class="seasons-button-grid">
    {% for season in seasons %}
        <a href="{{ url_for('view_season', season_id = season.season_id) }}" class="btn-season">
            Season {{ season.season_number }}
        </a>
    {% endfor %}
    </div>
  {% endif %}
</div>

{% endblock content %}