{% extends "layout.html" %}
{% block content %}
<div class="Container">
    {% if item %}
      <h1>{{ item.title }}</h1>
      <img src="{{ item.poster_url }}" alt="{{ item.title }}" width="300">
      <p>{{ item.overview }}</p>
      <p><strong>Type:</strong> {{ item.media_type }}</p>
      <p><strong>Release Date:</strong> {{ item.release_date }}</p>
      <p><strong>Rating:</strong> {{ item.vote_average }}</p>
    {% else %}
      <h2>Media not found.</h2>
    {% endif %}

  {% if item.media_type == "tv" and seasons %}
    <div class="seasons-button-grid">
    {% for season in seasons %}
      <div class="season-block dropdown-container">
        <button class="btn-season">Season {{ season.season_number }}</button>
        <!-- dropdown -->
        <div class="dropdown-eps">
          <ul>
            {% for episode in season.episodes %}
              <li>
                <a href="{{ url_for('view_episode', episode_id=episode.episode_id) }}">Episode {{ episode.episode_number }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}
    </div>
  {% endif %}
</div>

{% endblock content %}