.btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.btn-top {
  background-color: #1e1e2f;
  color: #fff;
  padding: 8px 14px;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 14px;
  transition: all 0.2s ease;
}

.btn-top:hover {
  background-color: #33334d;
  color: #fff;
}

.toggle-btn {
  align-self: flex-start;
  background: #6366f1;
  color: #fff;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 5px;
  margin-bottom: 5px;
}

.toggle-btn:hover {
  background: #4f51c2;
}

.play-btn {
  background: #6366f1;
  color: #fff;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.25rem;
  cursor: pointer;
  transition:0.2s;
}

.play-btn:hover {
  background:#4f51c2;
}

.delete-comment {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ffe6e6 !important;
  color: rgb(247, 90, 90) !important;
  border: 1px solid rgb(247, 90, 90) !important;
  border-radius: 5px !important;
  padding: 4px 8px !important;
  font-size: 0.7rem !important;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.delete-comment:hover {
  background-color: rgb(247, 90, 90) !important;
  color: white !important;
}